doctype html
html
    head
        meta(charset='utf-8')
        title= meta.title
        meta(name='description' content='#{meta.description}')
        meta(name='keywords' content='#{meta.keywords}')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

        meta(property='og:title' content='#{meta.title}')
        meta(property='og:image' content='#{meta.image}')
        meta(property='og:url' content='#{meta.url}')
        meta(property='og:site-name' content='#{meta.title}')

        meta(name='twitter:card' content='summary_large_image')
        meta(name='twitter:site' content='#{meta.twitter}')
        meta(name='twitter:creator' content='#{meta.twitter}')
        meta(name='twitter:title' content='#{meta.title}')
        meta(name='twitter:description' content='#{meta.description}')
        meta(name='twitter:image:src' content='#{meta.image}')

        link(rel='stylesheet' href='/static/app.bundle.css')
        link(rel='shortcut icon' href='/static/media/favicon.ico')

    body
        .component-slider.container-fluid(data-component='Slider')
            each project, index in projects
                .component-slide(data-dynamic-color='#{project.color}' data-component='Slide')
                    .component-header.slide__header.row.center-xs.middle-xs(data-component='Header')
                        .col-xs-12.col-sm-6
                            h2.header__title= project.content.title
                        .col-xs-12.col-sm-6
                            p.header__aside= project.content.excerpt

                    .slide__content
                        .content__main
                            .slide__preview
                                .preview__inner.row
                                    each media in project.content.preview
                                        .preview__media.col-xs-12.col-sm-4(data-appearance)
                                            if media.type === 'video'
                                                video(src='#{media.content.src}' poster='#{media.content.poster}' loop)
                                            else if media.type === 'image'
                                                img(src='#{media.content.src}')

                            .slide__description.row
                                .slide__links.col-xs-12.col-sm-6.col-sm-offset-3.col-md-3.col-md-offset-3(data-appearance)
                                    each link in project.content.links
                                        .component-link.component-link--block.component-link--heavy(data-component='Link')
                                            a(href='#{link.url}')= link.title

                                .slide__details.col-xs-12.col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-0
                                    p.details__description(data-appearance)= project.content.description
                                    each detail in project.content.details
                                        p.details__detail(data-appearance)
                                            strong
                                                | #{detail.title}
                                                | &ndash; 
                                            | !{detail.text}

                            .slide__meta.row
                                .meta__informations(class='col-xs-6 col-sm-' + ((1 - Number(3 % project.content.meta.credits.length)) * 3 || 4) + ' col-sm-offset-' + (Number(project.content.meta.credits.length === 1) * 3) + ' col-md-3 col-md-offset-' + (6 - ((project.content.meta.credits.length - 1) * 3)))
                                    each information in project.content.meta.informations
                                        .meta__line(data-appearance)
                                            h3= information.title
                                            p !{information.text}

                                each credit in project.content.meta.credits
                                    .meta__credit(class='col-xs-6 col-sm-' + ((1 - Number(3 % project.content.meta.credits.length)) * 3 || 4) + ' col-md-3')
                                        each person in credit
                                            .meta__line(data-appearance)
                                                h3= person.name
                                                p !{person.role}
                                                    if person.website
                                                        br
                                                        span.component-link(data-component='Link')
                                                            a(href='#{person.website.url}')= person.website.title

                        .component-navigation(data-component='Navigation')
                            .slide__navigation.row.col-xs
                                .navigation__next.col-sm-6.col-sm-offset-6
                                    h3.navigation__subtitle Next project
                                    h2.navigation__title
                                        .component-button
                                            .btn= projects[(index + 1) % projects.length].content.title
                                                span.btn__label= projects[(index + 1) % projects.length].content.title
                                                span.btn__underline
                                    .navigation__image
                                        img(src='#{projects[(index + 1) % projects.length].navigation}')

                    .component-background(data-component='Background')
                        img(src='#{project.cover}')

        .component-stage(data-component='Stage')
            canvas

        .floating-elements
            .component-shadow
                .shadow.shadow--top

            .component-more(data-component='More')
                .component-button
                    .btn See more
                        each project in projects
                            span.btn__label See more
                        span.btn__underline

            .component-close.component-close--centered(data-component='Close')
                .component-button
                    .btn
                        | Close
                        span.btn__label Close
                        span.btn__underline

        .component-about(data-component='About')
            .about__open
                .component-open(data-component='Open')
                    .component-button
                        .btn
                            | !{about.open}

            .about__overlay
                .overlay__content
                    .content__main.row.top-xs.middle-md
                        .content__picture.col-xs-12.col-md-5.col-md-offset-1
                                img(src='/static/media/sylvain-reucherand.jpg')
                        .content__description.col-xs-12.col-md-5
                                h2.description__title= about.title
                                each paragraph in about.paragraphs
                                    p.description__paragraph !{paragraph.text}
                                p.description__socials
                                    a(href='https://twitter.com/sreucherand' target='_blank')
                                        svg(viewBox='0 0 18.5 15')
                                            path(d='M18.5,1.8c-0.7,0.3-1.4,0.5-2.2,0.6c0.8-0.5,1.4-1.2,1.7-2.1c-0.7,0.4-1.5,0.7-2.4,0.9C14.9,0.5,13.9,0,12.8,0C10.7,0,9,1.7,9,3.8c0,0.3,0,0.6,0.1,0.9C5.9,4.5,3.2,3,1.3,0.7C1,1.3,0.8,1.9,0.8,2.6c0,1.3,0.7,2.5,1.7,3.2c-0.6,0-1.2-0.2-1.7-0.5c0,0,0,0,0,0c0,1.8,1.3,3.4,3,3.7c-0.3,0.1-0.7,0.1-1,0.1c-0.2,0-0.5,0-0.7-0.1c0.5,1.5,1.9,2.6,3.5,2.6c-1.3,1-2.9,1.6-4.7,1.6c-0.3,0-0.6,0-0.9-0.1C1.7,14.4,3.7,15,5.8,15c7,0,10.8-5.8,10.8-10.8c0-0.2,0-0.3,0-0.5C17.3,3.2,17.9,2.5,18.5,1.8z')
                                    a(href='https://github.com/sreucherand' target='_blank')
                                        svg(viewBox='0 0 15.4 15')
                                            path(d='M7.7,0C3.4,0,0,3.4,0,7.7C0,11.1,2.2,14,5.3,15c0.4,0.1,0.5-0.2,0.5-0.4c0-0.2,0-0.7,0-1.3c-2.1,0.5-2.6-1-2.6-1c-0.3-0.9-0.9-1.1-0.9-1.1c-0.7-0.5,0.1-0.5,0.1-0.5c0.8,0.1,1.2,0.8,1.2,0.8c0.7,1.2,1.8,0.8,2.2,0.6c0.1-0.5,0.3-0.8,0.5-1c-1.7-0.2-3.5-0.9-3.5-3.8c0-0.8,0.3-1.5,0.8-2.1c-0.1-0.2-0.3-1,0.1-2c0,0,0.6-0.2,2.1,0.8C6.4,3.8,7,3.7,7.7,3.7C8.3,3.7,9,3.8,9.6,4c1.5-1,2.1-0.8,2.1-0.8c0.4,1.1,0.2,1.8,0.1,2c0.5,0.5,0.8,1.2,0.8,2.1c0,3-1.8,3.6-3.5,3.8c0.3,0.2,0.5,0.7,0.5,1.4c0,1,0,1.9,0,2.1c0,0.2,0.1,0.4,0.5,0.4c3-1,5.3-3.9,5.3-7.3C15.4,3.4,11.9,0,7.7,0z')
                                    a(href='http://codepen.io/sreucherand' target='_blank')
                                        svg(viewBox='0 0 15 15')
                                            path(d='m14.994 5.131c-0.002-0.009-0.004-0.018-0.005-0.028-0.004-0.018-0.007-0.036-0.011-0.054-0.003-0.011-0.007-0.021-0.01-0.031-0.005-0.016-0.01-0.031-0.016-0.047-0.004-0.011-0.01-0.022-0.014-0.032-0.007-0.014-0.014-0.029-0.022-0.043l-0.018-0.03c-0.008-0.014-0.017-0.027-0.027-0.039-0.007-0.009-0.014-0.019-0.022-0.028-0.01-0.012-0.021-0.024-0.032-0.035-0.009-0.009-0.017-0.017-0.026-0.025-0.012-0.011-0.024-0.021-0.037-0.031-0.009-0.008-0.019-0.015-0.029-0.022-0.004-0.003-0.007-0.006-0.011-0.008l-6.855-4.57c-0.217-0.145-0.499-0.145-0.715 0l-6.855 4.57c-0.005 0.003-0.009 0.006-0.013 0.009-0.01 0.007-0.019 0.014-0.029 0.022-0.013 0.01-0.025 0.02-0.037 0.031-0.008 0.007-0.017 0.016-0.025 0.025-0.011 0.011-0.021 0.023-0.032 0.034-0.007 0.009-0.015 0.019-0.022 0.028-0.009 0.013-0.019 0.026-0.027 0.04-0.006 0.01-0.012 0.019-0.018 0.03-0.009 0.013-0.016 0.028-0.022 0.042-0.005 0.01-0.01 0.021-0.014 0.032-0.007 0.015-0.013 0.03-0.018 0.046-0.004 0.01-0.007 0.021-0.01 0.031-0.005 0.019-0.008 0.037-0.011 0.054-0.001 0.01-0.004 0.019-0.005 0.029-0.004 0.027-0.006 0.056-0.006 0.084v4.57c0 0.028 0.002 0.056 0.006 0.084 0.001 0.01 0.004 0.019 0.005 0.028 0.003 0.018 0.006 0.036 0.011 0.054 0.003 0.01 0.006 0.021 0.01 0.031 0.005 0.016 0.01 0.032 0.017 0.048 0.004 0.011 0.009 0.021 0.014 0.031 0.007 0.014 0.014 0.029 0.022 0.043l0.018 0.03c0.009 0.013 0.018 0.027 0.027 0.039 0.007 0.01 0.015 0.019 0.022 0.028 0.011 0.012 0.021 0.024 0.032 0.035 0.008 0.009 0.017 0.017 0.026 0.025 0.012 0.011 0.024 0.021 0.037 0.031 0.009 0.008 0.019 0.015 0.029 0.022 0.004 0.003 0.007 0.006 0.011 0.008l6.855 4.57c0.109 0.072 0.233 0.108 0.358 0.108s0.249-0.036 0.358-0.109l6.855-4.57c0.004-0.002 0.007-0.005 0.011-0.008 0.01-0.007 0.02-0.014 0.029-0.022 0.013-0.01 0.025-0.02 0.037-0.031 0.009-0.008 0.017-0.016 0.026-0.025 0.011-0.011 0.022-0.023 0.032-0.035 0.008-0.009 0.015-0.018 0.022-0.028 0.01-0.012 0.019-0.026 0.027-0.039 0.006-0.01 0.013-0.019 0.018-0.03 0.008-0.014 0.015-0.028 0.022-0.043 0.005-0.01 0.01-0.021 0.014-0.031 0.006-0.016 0.011-0.032 0.016-0.048 0.004-0.01 0.008-0.021 0.01-0.031 0.005-0.018 0.008-0.036 0.011-0.054 0.002-0.009 0.004-0.018 0.005-0.028 0.005-0.026 0.007-0.055 0.007-0.083v-4.57c0-0.028-0.002-0.057-0.006-0.084zm-6.849-3.282l5.05 3.367-2.256 1.509-2.794-1.87v-3.006zm-1.29 0v3.006l-2.794 1.869-2.255-1.508 5.049-3.367zm-5.566 4.572l1.613 1.079-1.613 1.079v-2.158zm5.566 6.73l-5.05-3.367 2.256-1.509 2.794 1.869v3.007zm0.645-4.126l-2.28-1.525 2.28-1.525 2.28 1.525-2.28 1.525zm0.645 4.126v-3.006l2.795-1.869 2.256 1.509-5.051 3.366zm5.566-4.572l-1.612-1.079 1.612-1.078v2.157z')
                                    a(href='https://www.linkedin.com/in/sylvainreucherand' target='_blank')
                                        svg(viewBox='0 0 15 15')
                                            path(d='M0.2,5h3.1v10H0.2V5z M1.8,0c1,0,1.8,0.8,1.8,1.8c0,1-0.8,1.8-1.8,1.8C0.8,3.6,0,2.8,0,1.8C0,0.8,0.8,0,1.8,0')
                                            path(d='M5.3,5h3v1.4h0c0.4-0.8,1.4-1.6,2.9-1.6c3.2,0,3.7,2.1,3.7,4.8V15h-3.1v-4.9c0-1.2,0-2.7-1.6-2.7c-1.6,0-1.9,1.3-1.9,2.6v5H5.3V5z')
                                    a(href='mailto:hello@sylvainreucherand.fr')
                                        svg(viewBox='0 0 16 15')
                                            path(d='M8,0L1.5,3.6C1,3.9,0,4.4,0,5.5v8.3C0,14.5,0.6,15,1.4,15h13.1c0.8,0,1.4-0.5,1.4-1.2V5.5c0-1.1-0.9-1.7-1.5-2L8,0z M8,1.7l6.4,3.5L8,9.7L1.6,5.1L8,1.7z')

            .about__close
                .component-close(data-component='Close')
                    .component-button
                        .btn
                            | Close
                            span.btn__label Close
                            span.btn__underline

        .component-loader(data-component='Loader')

    script(src='/static/app.bundle.js')

    script.
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-37300118-1');ga('send','pageview');
